
// ================================================
// GLOBALS
// - these are styles that are applied globally to HTML elements, etc.
// ================================================


// Animations
// ------------------------------------------------

@include animation(fade-in-down);
@include animation(fade-in);


// HTML Elements
// ------------------------------------------------

* {
  text-rendering: optimizeLegibility !important;
  -webkit-text-size-adjust: none !important;
}

html,
body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  zoom: 1;
}

a {
  text-decoration: none;
  @include animate-simple(all);

  &:hover {
    text-decoration: none;
  }
}

hr {
  margin: 3rem 0;
  outline: none;
  border: none;
  border-top: 2px solid lighten($brand-slate, 35%);
}
