@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype'),
       url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../fonts/icons.svg#icons') format('svg');
  }
}

.icon {
  &:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-family: 'icons';
    display: inline-block;
    line-height: 1;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  &[data-icon]:before {
    content: attr(data-icon);
  }
}

/** Sass variables **/

$danielsimcoe-menu: '\f100';


/** Sass mixins **/

@mixin danielsimcoe-menu() {
  &:before {
    content: $danielsimcoe-menu;
  }
}

