
// ================================================
// + VARIABLES
// - all site variables go here
// ================================================


// Colors
// ------------------------------------------------

$white: #ffffff;
$black: #111111;
$brand-slate: #6e797d;


// Typography
// ------------------------------------------------

$font-family-sans-serif: "europa", sans-serif;
$letter-spacing-default: .2rem;


// Responsive Breakpoints for Neat
// ------------------------------------------------

$tablet: new-breakpoint(min-width 768px 8);
$tablet-wide: new-breakpoint(min-width 1025px 12);
$desktop: new-breakpoint(min-width 1025px 12);
$large:  new-breakpoint(min-width 1200px 12);
$xlarge: new-breakpoint(min-width 1380px 12);
